.fondo{
    background-color:   rgb(164, 108, 207);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
    padding: 50px;
    font-family: Gill Sans MT;
    color: rgb(247, 242, 242);
    border-radius: 10px;
    
}

.imagen{
    height: 300px;
    width: 300px;
    border-radius: 700px;
    margin-left: 200px;
}


@media (max-width: 768px) {
    .fondo {
      background-color: rgb(164, 108, 207);
      margin: 20px; 
      padding: 20px; 
      font-family: Gill Sans MT;
      color: rgb(247, 242, 242);
      border-radius: 10px;
    }
  
    .imagen {
      height: 200px; 
      width: 200px; 
      border-radius: 50%; 
      margin-left: 50px; 
      margin-right: auto; 
    }
  }
  